<header>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
          <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
          <circle cx="12" cy="13" r="4"></circle>
        </svg>
        <strong>ShareNetflix</strong>
      </a>
    </div>
  </div>
</header>

<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4" *ngFor="let video of videos$ | async; trackBy: trackByFn">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" [src]="video.bgImages" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ video.title }} ({{ video?.releaseYear }})</h5>
              <h6 class="card-subtitle mb-2 text-muted" *ngIf="video?.runtime ==0">
                {{ video?.numSeasonsLabel }} - {{ video?.episode }} 集
              </h6>
              <h6 class="card-subtitle mb-2 text-muted" *ngIf="video?.runtime > 0">
                {{ video?.runtime | time }}
              </h6>
              <p class="card-text">
                {{ video.summary }}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="goto(video.id)">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
