$white: #ffffff;

.google {
  background-color: #dd4b39 !important;
  color: $white !important;
}
.github {
  background-color: #333333 !important;
  color: $white !important;
}

.facebook {
  background-color: #006699 !important;
  color: $white !important;
}
.fa {
  font-size: 20px;
  color: $white;
  margin-right: 5px;
}

button {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
